#monsterhead{
    width: 200px;
    height: 200px;
    background: #ffcc00;
}
#monsterbody{
    width: 200px;
    height: 400px;
    background: #000000;
}

.btn-play{
    padding: 20px;
    border-color: #000000;
    background-color: #cccccc;
}