#monster-head{
    height: 100px;
    background-color: #000000;
    width: 100px;
    border-radius: 50px;
}
#monster-body{
    height: 200px;
    background-color: #ffcc00;
    width: 150px;
    border-radius: 50px;
}